
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
}



* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Roboto;

}
.header{
    display: flex;
    flex-direction:row;
}
.fa {
    margin-top: 25px;
    margin-left: 25px;
    color: #636163;
}
img {
    margin-left: 15%;
    margin-top: 10px;
}
img:hover {
 opacity: 23%;
 cursor:pointer;


}
.new1{
    width: 100%;
    height: 100px;
    border-top: 1px solid black;
}
.text{
    display: flex;
    flex-direction: column;
}
.first{
    width: 100px;
    height: 200px;
    background-color: chartreuse;
    text-align: center;
    padding-top: 200px;
    margin-top: 234px;
}
.second{
    width: 100px;
    height: 300px;
    background-color: rgb(20, 50,34 );
}
.search1{
    width: 150px;
    height: 100px;
    margin: 40px 10px 10px 10px;
}
.proba{
    font-size: 45px;
    background-color: red;
}